<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='devices'">
<head>
    <title>Devices</title>
    <link rel="stylesheet" href="/resources/css/core.css"/>
</head>
<body>
<div layout:fragment="layout282">
    <div class="row">
        <table class="table">
            <tr>
                <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'deviceName'})}">Device Name</a></th>
                <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'deviceManufacturer.name'})}">Device Manufacturer</a></th>
                <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'deviceType.name'})}">Device Type</a></th>
                <th><a th:href="@{${#httpServletRequest.requestURI}(pageSize=${selectedPageSize}, page=1, sort=${'model'})}">Device Model</a></th>
            </tr>
            <th:block th:each="device : ${collection}">
                <tr>
                    <td><a th:href="@{/admin/device/edit(id=${device.id})}" th:text="${device.deviceName}"></a></td>
                    <td th:text="${device.deviceManufacturer.name}"></td>
                    <td th:text="${device.deviceType.name}"></td>
                    <td th:text="${device.model}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="row">
        <div th:replace="main/pageBar :: paginationbar"></div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
            <a href="/admin/device/add" class="btn btn-large btn-default" role="button">Add a Device</a>
            <a href="/devices/search" class="btn btn-large btn-default" role="button">Search for Device</a>
            <a href="/devices" class="btn btn-large btn-default" role="button">View all</a>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>

</html>