<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='devices'">
<head>
    <title>Devices</title>
</head>
<body>
<div layout:fragment="layout282">
<form action="#" th:action="@{/devices/search}" th:object="${searchObject}" method="post">
    <div class="input-group input-group-lg">
        <div class="row">
            <label class="label label-default" for="property">Property</label>
            <select class="form-control" id="property" th:field="*{property}">
                <option th:each="searchProperty : ${searchObject.allSearchProperties}"
                        th:value="${searchProperty}"
                        th:text="${searchProperty}">Wireframe</option>
            </select>
        </div>
        <div class="row">
            <label class="label label-default" for="value">Value</label>
            <input type="text" class="form-control" id="value" th:field="*{value}" placeholder="Search for..." aria-label="...">
        </div>
        <div class="row">
            <div class="btn-group">
                <button type="submit" class="btn btn-large btn-default">Search</button>
            </div>
        </div>
    </div><!-- /input-group -->
</form>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>
