<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='devicemanufacturers'">
<head>
    <title>Device Manufacturers</title>
</head>
<body>
<div layout:fragment="layout282">
    <div class="row">
        <table class="table">
            <tr>
                <th>Name</th>
            </tr>
            <th:block th:each="deviceManufacturer : ${allDeviceManufacturers}">
                <tr>
                    <td><a th:href="@{/admin/devicemanufacturer/edit(id=${deviceManufacturer.id})}" th:text="${deviceManufacturer.name}"></a></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="row">
        <div th:replace="main/pageBar :: paginationbar"></div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
            <a href="/admin/devicemanufacturer/add" class="btn btn-large btn-default" role="button">Add a Manufacturer</a>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>

</html>