<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='mydevices'">
<head>
    <title>Add Device</title>
    <link rel="stylesheet" href="/resources/css/core.css"/>
</head>
<body>
<div layout:fragment="layout282">
    <form action="#" th:action="@{/dashboard/mydevice/add}" th:object="${device}" method="post">
        <div class="input-group input-group-lg">
            <div th:replace="dashboard/deviceViewSingle :: deviceViewSingle"></div>
            <div class="row">
                <div class="btn-group">
                    <button type="submit" class="btn btn-large btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>
