<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

 <div th:fragment="deviceViewSingle">
    <div class="row">
        <label class="label label-default" for="deviceId">Device</label>
        <select th:disabled="${mode == 'edit'}" class="form-control" id="deviceId" th:field="*{deviceId}">
            <option th:each="device : ${allDevices}"
                    th:value="${device.id}"
                    th:text="${device}">Wireframe</option>
        </select>
    </div>
    <div class="row">
        <label class="label label-default" for="name">Custom name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Device name" aria-label="...">
    </div>
    <div class="row">
        <label class="label label-default" for="serialNumber">Serial Number</label>
        <input type="text" class="form-control" id="serialNumber" th:field="*{serialNumber}" placeholder="Serial number" aria-label="...">
    </div>
        <input type="text" class="hidden" id="deviceId" th:field="*{deviceId}" placeholder="deviceId" aria-label="...">
     <input type="text" class="hidden" id="isActive" th:field="*{active}" placeholder="isActive" aria-label="...">
</div>

</html>