<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='mydevices'">
<head>
    <title>Edit Device</title>
</head>
<body>
<div layout:fragment="layout282">
    <form action="#" th:action="@{/dashboard/mydevice/edit}" th:object="${device}" method="post">
        <div class="input-group input-group-lg">
            <div th:replace="dashboard/deviceViewSingle :: deviceViewSingle"></div>
            <div class="row">
                <div class="btn-group">
                    <button type="submit" class="btn btn-large btn-default">Save</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <label class="label label-info" >(Data limited to last month)</label>
    </div>
    <div class="row">
        <div th:replace="dashboard/userMeasurementsList :: userMeasurementList"></div>
    </div>

</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>
