<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default" th:with="page='devices'">
<head>
    <title>Devices</title>
    <link rel="stylesheet" href="/resources/css/core.css"/>
</head>
<body>
<div layout:fragment="content">
<form action="#" th:action="@{/devices/search}" th:object="${searchObject}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" th:field="*{property}" placeholder="Search by...">
                    <input type="text" class="form-control" th:field="*{value}" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</form>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>
