<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Fitness Tracker</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" th:classappend="${page == 'dashboard' || page == 'mydevices' || page == 'mygoals' || page == 'myprofile' ? 'active' : ''}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:classappend="${page == 'dashboard' ? 'active' : ''}"><a href="#" th:href="@{/dashboard}">Dashboard</a></li>
                        <li th:classappend="${page == 'mydevices' ? 'active' : ''}"><a href="#" th:href="@{/mydevices}">My Devices</a></li>
                        <li th:classappend="${page == 'mygoals' ? 'active' : ''}"><a href="#" th:href="@{/mygoals}">My Goals</a></li>
                        <li th:classappend="${page == 'myprofile' ? 'active' : ''}"><a href="#" th:href="@{/myprofile}">My Profile</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:classappend="${page == 'devices' || page == 'devicetypes' || page == 'devicemanufacturers' ? 'active' : ''}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Devices <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:classappend="${page == 'devices' ? 'active' : ''}"><a href="#" th:href="@{/devices}">Devices</a></li>
                        <li th:classappend="${page == 'devicetypes' ? 'active' : ''}"><a href="#" th:href="@{/devices/types}">Types</a></li>
                        <li th:classappend="${page == 'devicemanufacturers' ? 'active' : ''}"><a href="#" th:href="@{/devices/manufacturers}">Manufacturers</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:classappend="${page == 'users' ? 'active' : ''}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:classappend="${page == 'users' ? 'active' : ''}"><a href="#" th:href="@{/users}">Users</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</html>