<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='users'">
<head>
    <title>Edit User</title>
</head>
<body>
<div layout:fragment="layout282">
    <form action="#" th:action="@{/admin/user/edit}" th:object="${user}" method="post">
        <div class="input-group input-group-lg">
            <div th:replace="users/userViewSingle :: userViewSingle"></div>
            <div class="row">
                <div class="btn-group">
                    <button type="submit" class="btn btn-large btn-default">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>
