<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main/layout282" th:with="page='users'">
<head>
    <title>Devices</title>
    <link rel="stylesheet" href="/resources/css/core.css"/>
</head>
<body>
<div layout:fragment="layout282">
    <div class="row">
        <table class="table">
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            <th:block th:each="user : ${collection}">
                <tr>
                    <td><a th:href="@{/admin/user/edit(id=${user.id})}" th:text="${user.username}"></a></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="row">
        <div th:replace="main/pageBar :: paginationbar"></div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="devicescripts">

</th:block>
</html>